/* Contenedor principal para el layout */
.main-container {
  display: flex;
  height: calc(100vh - 70px); /* Ocupa toda la pantalla, menos el espacio del navbar (ajustar según el tamaño del navbar) */
  width: 100%;
}

/* Barra lateral */
.sidebarNdvi {
  position: fixed;
  top: 60px; /* Ajuste de altura según el navbar */
  left: 0;
  width: 250px;
  height: 100%;
  background-image:   linear-gradient(to bottom, rgba(22, 195, 109, 0.756), rgba(5, 86, 66, 0.7)), url('/assets/img/hoja.jpg'); 
 
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
}

/* Lista de elementos en el sidebar */
.sidebarNdvi ul {
  list-style-type: none;
  padding: 0;
}

/* Elementos de la lista */
.sidebarNdvi li {
  margin: 15px 0;
}

/* Estilo de los enlaces */
.sidebarNdvi a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 12px; /* Aseguramos que los enlaces tengan un poco de padding */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave para el hover */
}

/* Efecto hover sobre los enlaces */
.sidebarNdvi a:hover {
  background-color: #04a570; /* Verde más brillante para el hover */
  padding-left: 20px; /* Desplazamiento hacia la derecha */
  transform: scale(1.05); /* Efecto sutil de agrandamiento */
}


/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .sidebarNdvi {
    position: relative; /* La barra lateral ya no estará fija */
    width: 100%;
    height: auto; /* Ajusta la altura según el contenido */
    top: 0; /* Remueve el top fijo */
    padding: 10px;
  }

  .sidebarNdvi a {
    font-size: 16px;
  }
}
