/* Contenedor principal para el layout */
.main-container {
    display: flex;
    height: calc(100vh - 70px); /* Ocupa toda la pantalla, menos el espacio del navbar (ajustar según el tamaño del navbar) */
    width: 100%;
  }
  
  /* Estilo para la barra lateral */
.sidebar {
  position: fixed;
  top: 60px; /* Ajuste de altura según el navbar */
  left: 0;
  width: 250px;
  height: 100%;
  background-image:  linear-gradient(to bottom, rgba(26, 64, 111, 0.7), rgba(38, 129, 169, 0.9)), url('/assets/img/nieve.jpg'); 
  background-position: center 30%; /* Esto mueve la imagen hacia abajo, ajusta el 30% según sea necesario */
  background-size: cover; /* Asegura que la imagen se cubra correctamente */
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
}
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    background-color: #575757; /* Efecto hover */
    padding: 5px;
    border-radius: 4px;
  }
  
  /* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .sidebar {
      position: relative; /* La barra lateral ya no estará fija */
      width: 100%;
      height: auto; /* Ajusta la altura según el contenido */
      top: 0; /* Remueve el top fijo */
      padding: 10px;
    }
  
    .sidebar a {
      font-size: 16px;
    }
}  
